.promoSlider{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.promoSlider__slides{
    width: 500%;
    height: 100%;
    display: flex;
}
.promoSlider__slide{
    width: 20%;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.margin1{
    margin-left: 0%;
}
.margin2{
    margin-left: -20%;
}
.margin3{
    margin-left: -40%;
}

.promotions__navButton--active{
    background-color: rgba(0,0,0,.7);
}