*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
$fontColor: black;
$secondFontColor: white;
a{
    text-decoration: none;
    color: $fontColor;
}li{
    list-style-type: none;
}



// ~~~~~~~~~~~~~FIRST SCREEN~~~~~~~~~~~~~

.firstScreen{
    height: 100vh;
    background-image: url(img/BackgroundPhoneImg/firstScreenBg-pexels-tetyana.jpg);
    background-size: 100% 100%;        background-size: cover;
    background-position: right center;        background-repeat: no-repeat;   
}

// ONLY ON DESKTOP
.topBar{
    position: relative;
    top: 30px;
    &__logo{
        margin: 0 0 0 20px;
    }&__logoImg{
        height: 100px;
        width: 170px;
    }&__menuContainer{
        display: none;
    }
}

//FIRST SCREEN -- main info

.centerInfo{
    height: 600px;
    width: 100%;
    margin: 0px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 20px;
    &__title{
        font-size: 1.8rem;
        margin: 80px 0 0 0;
        font-weight: 400;
        text-transform: uppercase;
    }&__biggerTitle{
        font-size: 2.4rem;
        display: block;
        text-align: right;
        text-transform: uppercase;
    }&__text{
        font-size: 1.3rem;
        text-align: center;
        margin: 15px 0 0 0;
        width: 200px;
    }&__button{
        margin: 30px 0 0 0;
        font-size: 1.6rem;
        height: 56px;
        width: 247px;
        border-radius: 20px;
        border: none;
        color: $secondFontColor;
        background-color: rgba(0,0,0,.7);
    }
}


// ~~~~~~~~~~~~~SECOND SCREEN~~~~~~~~~~~~~

.secondScreen{
    height: 100vh;
    background-image: url(img/BackgroundPhoneImg/secondScreenBg-pexels-jayant-kulkarni.jpg);
    background-size: 100% 100%;        background-size: cover;
    background-position: right center;        background-repeat: no-repeat;   
}


.about{
height: 530px;
position: relative;
top: 70px;
display: flex;
flex-direction: column;
align-items: center;
    &__title{
        font-size: 2rem;
    }&__text{
        font-size: 1.1rem;
        width: 270px;
        text-align: center;
        margin: 40px 0 0 0 ;
    }
}


// ~~~~~~~~~~~~~THIRD SCREEN~~~~~~~~~~~~~

.thirdScreen{
    height: 100vh;
    background-image: url(img/BackgroundPhoneImg/thirdScreenBg-pexels-olga.jpg);
    background-size: 100% 100%;        background-size: cover;
    background-position: left center;        background-repeat: no-repeat; 
}

// ~~~~~~~~~~~~~FOURTH  SCREEN~~~~~~~~~~~~~
