*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
$fontColor: black;
$secondFontColor: white;
a{
    text-decoration: none;
    color: $fontColor;
}li{
    list-style-type: none;
}
@media (max-width: 330px){
    *{
        font-size: 13px;
    }
}


// ~~~~~~~~~~~~~FIRST SCREEN~~~~~~~~~~~~~

.firstScreen{
    height: 100vh;
    background-image: url(img/BackgroundPhoneImg/firstScreenBg-pexels-tetyana.jpg);
    background-size: 100% 100%;        background-size: cover;
    background-position: right center;        background-repeat: no-repeat;
    
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 25% 70% 5%;
}

.centerInfo{
    grid-column: 2/3;
    grid-row: 2/3;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title{
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: uppercase;
    }&__biggerTitle{
        font-size: 2.4rem;
        display: block;
        text-align: right;
        text-transform: uppercase;
    }&__text{
        font-size: 1.3rem;
        text-align: center;
        margin: 15px 0 0 0;
        width: 200px;
    }&__button{
        margin: 30px 0 0 0;
        font-size: 1.6rem;
        height: 12%;
        width: 80%;
        border-radius: 20px;
        border: none;
        color: $secondFontColor;
        background-color: rgba(0,0,0,.7);
    }
}



// ONLY ON DESKTOP
.topBar{
    position: relative;
    top: 30px;
    &__logo{
        margin: 0 0 0 20px;
    }&__logoImg{
        height: 100px;
        width: 170px;
    }&__menuContainer{
        display: none;
    }
}

//FIRST SCREEN -- main info



// ~~~~~~~~~~~~~SECOND SCREEN~~~~~~~~~~~~~

.secondScreen{
    height: 100vh;
    background-image: url(img/BackgroundPhoneImg/secondScreenBg-pexels-jayant-kulkarni.jpg);
    background-size: 100% 100%;        background-size: cover;
    background-position: right center;        background-repeat: no-repeat;  
    
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 5% 75% 20%;
}

.about{
    height: 100%;
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    &__title{
        width: 100%;
        font-size: 1.8rem;
        margin: 20px 0 0 0;
    }&__text{
        margin: 20px 0 0 0;
        font-size: 1.15rem;
    }
}


// ~~~~~~~~~~~~~THIRD SCREEN~~~~~~~~~~~~~

.thirdScreen{
    height: 100vh;
    background-image: url(img/BackgroundPhoneImg/thirdScreenBg-pexels-olga.jpg);
    background-size: 100% 100%;        background-size: cover;
    background-position: left center;        background-repeat: no-repeat; 
    
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 15% 35% 50%;
}



.products{
    height: 100%;
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
}
.slide{
    display: flex;
    flex-direction: column;
    &__titlePhoto{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }&__photo{
        height: 50px;
        width: 50px;
    }&__title{
        font-size: 2rem;
        text-align: left;
    }&__titleContinue{
        font-size: 1.2rem;
        display: block;
    }&__text{
        margin: 30px auto 0 auto;
        text-align: center;
        width: 80%;
    }
}

.productsBar{
    &__list{
        background-color: rgba(0,0,0,.3);
        border-radius: 0 20px 20px 0;
        height: 70px;
        width: 300px;   
        position: relative;
        top: 450px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        transform: translateX(-240px);
        transition: transform .5s ease-in-out;
    }&__items{

    }&__img{
        width: 50px;
        height: 50px;
    }&__button{
        height: 25px;
        width: 15px;
        background-color: black;
    }
}

.productsBar__list--active{
    transform: translateX(0px);
}
// ~~~~~~~~~~~~~FOURTH  SCREEN~~~~~~~~~~~~~

.fourthScreen{
    height: 100vh;
    background-image: url(img/BackgroundPhoneImg/fourthScreenBgPhone-pexels-scott.jpg);
    background-size: 100% 100%;        background-size: cover;
    background-position: right center;        background-repeat: no-repeat; 
    
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 50% 40%;
}

.promotions{
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,.7);
    grid-column: 2/3;
    grid-row: 2/3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container{
        width: 70%;
        text-align: center;
        margin: 0 0 70px 0;
    }&__title{
        font-size: 2rem;
        margin: 5% 0 5% 0;
        font-weight: normal;
    }&__text{
        width: 80%;

    }&__button{
        padding: 7px 40px;
        margin: 10% 0 5% 0;
        border: none;
        background-color: rgba(69, 155, 82, .7);
        color: white;
        box-shadow: rgba(0,0,0,.3) 4px 4px 10px;
    }
    &__card{
        position: absolute;
        bottom: -50%;
        left: 15%;
        height: 70%;
        width: 70%;
        background-color: rgba(69, 155, 82, .7);
    }&__iconsContainer{
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }&__4icons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }&__icon{
        width: 50px;
        height: 50px;
        margin: 12px;
    }&__nav{
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(255,255,255,.8);
    }&__navButton1{
        width: 20px;
        height: 20px;
        border: rgba(0,0,0,.3) solid 2px;
        border-radius: 100%;
        margin: 10px;
    }&__navButton2{
        width: 20px;
        height: 20px;
        border: rgba(0,0,0,.3) solid 2px;
        border-radius: 100%;
        margin: 10px;
    }&__navButton3{
        width: 20px;
        height: 20px;
        border: rgba(0,0,0,.3) solid 2px;
        border-radius: 100%;
        margin: 10px;
    }
}