.slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.slides input{
    display: none;
}
.slides{
    width: 500%;
    height: 100%;
    display: flex;
}
.slide{
    width: 20%;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}